@font-face {
	font-family: linja-pona;
	src: url('https://davidar.github.io/linja-pona/linja-pona-4.1.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: hyperlegible;
	src: url('/font/dyslexic.woff2');
}

@font-face {
	font-family: firacode;
	src: url('/font/dyslexic.woff2');
}